<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Topic Name</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">3</th>
                        <td>Bootstrap Flexbox Tutorial and Examples</td>

                        <td>
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>

                            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>

                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>

                            <button type="button" class="btn btn-success"> <i class="far fa-plus-square"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>