<section class="products">
    <div class="product-card">

        <div class="product-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png">
        </div>
        <div class="product-info">
            <h5>Python</h5>

        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="https://miro.medium.com/max/8642/1*iIXOmGDzrtTJmdwbn7cGMw.png">
        </div>
        <div class="product-info">
            <h5>JAVA</h5>

        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
        </div>
        <div class="product-info">
            <h5>Angular</h5>

        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="https://d1fmx1rbmqrxrr.cloudfront.net/zdnet/i/edit/ne/2018/09/IA-emplois-620.jpg">
        </div>
        <div class="product-info">
            <h5>AI</h5>

        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img
                src="https://mpng.subpng.com/20180805/hoy/kisspng-brand-logo-product-design-business-cloud-computing-free-multimedia-icons-5b66ec98f240d7.8133636715334718969923.jpg">
        </div>
        <div class="product-info">
            <h5>Cloud Computing</h5>

        </div>
    </div>

</section>